-r requirements.txt
# This includes extra items that you may not require.
# These are necessary, however, to build the documentation

# needed if you use this with Django
django

# needed if you want to use the async task
-e git://github.com/mozilla/nuggets.git#egg=nuggets
celery
